@using WebApplication1.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header_css {
    <link href="~/Content/login_style.css" rel="stylesheet" />
}
<section class="moduler">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">


                <div class="sign-in-htm">
                    <div class="group">
                        <span style="color: blanchedalmond"> Login with Username: [<b style="color: white">Admin</b>]  & Password: [<b style="color: white">Admin</b>] To access the <b style="color: white">control panel</b> </span>
                        <span style="color: blanchedalmond">--> Hover over Hello, ADMIN in main menu and select Admin Panel from submenu</span>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <label for="user" class="label">Email</label>
                            @Html.TextBoxFor(a => a.UserName, new { @class = " input", placeholder = "Email", id = "user", type = "text" })

                            <div>@Html.ValidationMessageFor(a => a.UserName)</div>

                            <div class="group">

                                <label for="pass" class="label">Password</label>
                                @Html.TextBoxFor(a => a.Password, new { @class = " input", placeholder = "Password", type = "password", id = "pass" })

                                <div>@Html.ValidationMessageFor(a => a.Password)</div>
                            </div>
                            <div class="group">
                                @Html.CheckBoxFor(a => a.RememberMe, htmlAttributes: new { @checked = true, id = "check", @type = "checkbox", @class = " icon" })
                                <label for="check">Keep me Signed in</label>
                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="Sign In">
                            </div>
                        }
                        <div class="hr"></div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">

                            </div>
                        </div>

                    </div>
                </div>


                <div class="sign-up-htm">
                    <br />
                    <div class="group">
                        <a class="button" href="~/Account/Register" style="text-align:center">
                            Go To Sign Up Form
                        </a>
                    </div>

                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</label>
                    </div>
                </div>



            </div>    @*end of login-form*@
        </div>    @*end of login-html*@
    </div>  @*end of login-wrap*@
</section>


